body {
    margin: 0;
    background: #b5cbd7;
}

.container {
    display: flex;
    height: 1400px;
    margin: 100px 100px;
}

.section1 {
    width: 620px;
    height: 1080px;
    background: #e8e8e9;
}

.block1 {
    width: 611px;
    height: 50px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
}

.num1 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    bottom: 25px;
    left: 50px;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.block2 {
    width: 100px;
    height: 1018px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 4px;
}

.num2 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    right: 53px;
    top: 100px;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 505px;
    height: 200px;
    border: 5px solid black;
    position: relative;
    bottom: 1032px;
    left: 106px;
}

.num3 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 505px;
    height: 100px;
    border: 5px solid black;
    position: relative;
    bottom: 1036px;
    left: 106px;
}

.num4 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 600px;
    border: 5px solid black;
    position: relative;
    bottom: 1040px;
    left: 106px;
}

.num5 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    left: 50px;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 600px;
    border: 5px solid black;
    position: relative;
    bottom: 1650px;
    left: 511px;
}

.num6 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    left: 54px;
    bottom: 150px;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 505px;
    height: 100px;
    border: 5px solid black;
    position: relative;
    bottom: 1654px;
    left: 106px;
}

.num7 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    width: 420px;
    height: 1080px;
    background: #e8e8e9;
    position: relative;
    left: 200px;
}

.center1 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 50px;
    border: 5px solid black;
    position: relative;

}

.num-1 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 25px;
}

.num-2 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 100px;
    right: 22px;
}

.center2 {
    height: 240px;
    width: 100px;
    border: 5px dotted black;
    position: absolute;
    left: 815px;
    top: 100px;
    background: #e8e8e9;
    border-radius: 10px;

}

.center3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 150px;
    border: 5px solid black;
    position: relative;
    bottom: 5px;
}

.num-3 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 250px;
    border: 5px solid black;
    position: relative;
    bottom: 10px;
}

.center5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 350px;
    border: 5px solid black;
    position: relative;
    bottom: 15px;
}

.center6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 150px;
    border: 5px solid black;
    position: relative;
    bottom: 20px;
}

.center7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 100px;
    border: 5px solid black;
    position: relative;
    bottom: 25px;
}

.section3 {
    width: 250px;
    height: 1080px;
    background: #e8e8e9;
    position: relative;
    left: 400px;

}

.poz-1 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poz-2 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 23px;
    top: 60px;
}

.box1 {
    height: 50px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    height: 150px;
    width: 70px;
    border: 5px solid black;
    position: absolute;
    right: 245px;
    top: 0;
    background: #e8e8e9;
}

.box3 {
    height: 100px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 5px;
}

.box4 {
    height: 200px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 10px;
}

.box5 {
    height: 300px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 15px;
}

.box6 {
    height: 350px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 20px;
}

.box7 {
    height: 50px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 25px;
}






