body {
    margin: 0;
    background: #b5cbd7;
}

.container {
    display: flex;
    width: 1400px;
    height: 1400px;
    margin: 0 auto;
}

.section1 {
    width: 1420px;
    height: 1080px;
    background: #ffffff;
    margin: 50px;
}

.block1 {
    width: 1300px;
    height: 50px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
}

.num1 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    bottom: 25px;
    left: 50px;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.block2 {
    width: 100px;
    height: 1018px;
    border: 5px solid black;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 4px;
}

.num2 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    right: 53px;
    top: 100px;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}


.block3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1194px;
    height: 200px;
    border: 5px solid black;
    position: relative;
    bottom: 1032px;
    left: 106px;
}

.num3 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block4 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1194px;
    height: 100px;
    border: 5px solid black;
    position: relative;
    bottom: 1036px;
    left: 106px;
}

.num4 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1088px;
    height: 600px;
    border: 5px solid black;
    position: relative;
    bottom: 1040px;
    left: 106px;
}

.num5 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    left: 50px;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block6 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 600px;
    border: 5px solid black;
    position: relative;
    bottom: 1650px;
    left: 1200px;
}

.num6 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    left: 54px;
    bottom: 150px;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block7 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1194px;
    height: 100px;
    border: 5px solid black;
    position: relative;
    bottom: 1654px;
    left: 106px;
}

.num7 {
    width: 40px;
    height: 40px;
    font-size: 25px;
    position: relative;
    color: white;
    border-radius: 50%;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 992px) {
    .container {
        width: 900px;


    }

    .section1 {
        width: 910px;
        height: 1580px;
        background: #ffffff;
        position: relative;
        margin: 50px auto;

    }

    .block1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        height: 50px;
        border: 5px solid black;
        position: relative;

    }

    .num1 {
        width: 40px;
        height: 40px;
        font-size: 25px;
        position: relative;
        color: white;
        border-radius: 50%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 25px;
        left: 0;
    }

    .block2 {
        display: none;

    }

    .block3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        height: 250px;
        border: 5px solid black;
        position: relative;
        bottom: 5px;
        left: 0;
    }

    .num3 {
        width: 40px;
        height: 40px;
        font-size: 25px;
        position: relative;
        color: white;
        border-radius: 50%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .block4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        height: 350px;
        border: 5px solid black;
        position: relative;
        bottom: 10px;
        left: 0;
    }

    .block5 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        height: 550px;
        border: 5px solid black;
        position: relative;
        bottom: 15px;
        left: 0;
    }

    .num5 {
        position: relative;
        left: 0;
        top: 0;
    }

    .block6 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        height: 250px;
        border: 5px solid black;
        position: relative;
        bottom: 20px;
        left: 0;
    }

    .num6 {
        position: relative;
        left: 0;
        top: 0;
    }

    .block7 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 900px;
        height: 100px;
        border: 5px solid black;
        position: relative;
        bottom: 25px;
        left: 0;
    }


}

@media screen and (max-width: 768px) {
    .container {
        width: 700px;


    }

    .section1 {
        width: 710px;
        height: 1580px;
        background: #ffffff;
        position: relative;
        margin: 50px auto;

    }

    .block1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 50px;
        border: 5px solid black;
        position: relative;

    }

    .num1 {
        width: 40px;
        height: 40px;
        font-size: 25px;
        position: relative;
        color: white;
        border-radius: 50%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 25px;
        left: 0;
    }

    .block2 {
        display: none;

    }

    .block3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 250px;
        border: 5px solid black;
        position: relative;
        bottom: 5px;
        left: 0;
    }

    .num3 {
        width: 40px;
        height: 40px;
        font-size: 25px;
        position: relative;
        color: white;
        border-radius: 50%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .block4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 350px;
        border: 5px solid black;
        position: relative;
        bottom: 10px;
        left: 0;
    }

    .block5 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 550px;
        border: 5px solid black;
        position: relative;
        bottom: 15px;
        left: 0;
    }

    .num5 {
        position: relative;
        left: 0;
        top: 0;
    }

    .block6 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 250px;
        border: 5px solid black;
        position: relative;
        bottom: 20px;
        left: 0;
    }

    .num6 {
        position: relative;
        left: 0;
        top: 0;
    }

    .block7 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 700px;
        height: 100px;
        border: 5px solid black;
        position: relative;
        bottom: 25px;
        left: 0;
    }


}

@media screen and (max-width: 576px) {
    .container {
        width: 500px;


    }

    .section1 {
        width: 510px;
        height: 1580px;
        background: #ffffff;
        position: relative;
        margin: 50px auto;

    }

    .block1 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 50px;
        border: 5px solid black;
        position: relative;

    }

    .num1 {
        width: 40px;
        height: 40px;
        font-size: 25px;
        position: relative;
        color: white;
        border-radius: 50%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
        bottom: 25px;
        left: 0;
    }

    .block2 {
        display: none;

    }

    .block3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 250px;
        border: 5px solid black;
        position: relative;
        bottom: 5px;
        left: 0;
    }

    .num3 {
        width: 40px;
        height: 40px;
        font-size: 25px;
        position: relative;
        color: white;
        border-radius: 50%;
        background: black;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .block4 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 350px;
        border: 5px solid black;
        position: relative;
        bottom: 10px;
        left: 0;
    }

    .block5 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 550px;
        border: 5px solid black;
        position: relative;
        bottom: 15px;
        left: 0;
    }

    .num5 {
        position: relative;
        left: 0;
        top: 0;
    }

    .block6 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 250px;
        border: 5px solid black;
        position: relative;
        bottom: 20px;
        left: 0;
    }

    .num6 {
        position: relative;
        left: 0;
        top: 0;
    }

    .block7 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 500px;
        height: 100px;
        border: 5px solid black;
        position: relative;
        bottom: 25px;
        left: 0;
    }


}
