@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    margin: 0;
    background: #E5E5E5;
}

a {
    text-decoration: none;
}

.white {
    background: #FFFFFF;;
}

.container {
    width: 1400px;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
}

.logo {
    margin-left: 20px;
    cursor: pointer;
}

.top-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    height: 83px;

}


.block-menu {
    width: 600px;
    height: 10px;
    display: flex;
    justify-content: space-between;
}



.nav-menu>a {
    color: #000000;
}

.nav-menu>a:hover {
    cursor: pointer;
    color: #F9C600;
}

.nav_item {
    display: inline-block;
}

.nav_item>ul {
    position: absolute;
}

.accordion-btn {
    cursor: pointer;
}

.accordion-btn:hover {
    color: #F9C600;
}

input[type="radio"]:checked+ ul {
    max-height: 150px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    transition: 1s, box-shadow 0.1s, transform 1.5s;
    position: relative;
    list-style: none;
    top: 5px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.accordion-input {
    cursor: pointer;
    appearance: none;
}

.accordion-text {
    max-height: 0;
    width: 90px;
    overflow: hidden;
    transition:  all linear .5s;
    list-style: none;
    box-sizing: border-box;
    position: relative;
    padding: 0;

}

.accordion-text> li a {
    text-decoration: none;
    color: #0B2330;

}

.accordion-text> li a:hover {
    color: #F9C600;
}

.btn-bck {
    color: #0B2330;
    cursor: pointer;
}

.btn-bck:hover {
    color: #F9C600;
}

.btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 400px;
    list-style: none;
}

.btn-black {
    width: 163px;
    height: 54px;
    background: #0B2330;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.btn-black:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    transition: box-shadow 0.1s, transform 0.5s;
}

.btn-black>a {
    color: #ffffff;
}

.vector {
    margin-left: 8px;
    cursor: pointer;
    position: relative;
    top: -3px;
}

.main {
    width: 1400px;
    display: flex;
}

.title {
    position: relative;
    top: 154px;
}

.title-text {
    width: 436px;
    height: 256px;
    font-size: 60px;
    position: relative;
    left: 147px;
}

.description {
    width: 435px;
    height: 96px;
    position: relative;
    left: 147px;
    top: 32px;
    font-size: 22px;
}

.btn-text {
    display: flex;
    position: relative;
    left: 147px;
    top: 48px;
}

.btn-yellow {
    width: 163px;
    height: 54px;
    background: #F9C600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #0B2330;
    cursor: pointer;
}

.btn-yellow>a{
    color: #0B2330;
}

.btn-yellow:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    transition: box-shadow 0.1s, transform 0.5s;
}

.btn-talk>a {
    color: #0B2330;
}

.btn-talk {
    width: 156px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #0B2330;
    margin-left: 16px;
    cursor: pointer;
}

.btn-talk:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    transition: box-shadow 0.1s, transform 0.5s;
}

.yellow-block-img {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
}


.image-woman {
    position: absolute;
    z-index: 1;
    display: flex;
    left: 50%;
    top: 275px;
}

.vector-bl {
    display: flex;
    position: relative;
    bottom: 116px;
}

.companies {
    margin-top: 189px;

}

.title-companies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    bottom: 70px;
    font-size: 42px;
    align-items: center;
}

.title-companies>span {
    margin-left: 50px;
}

.title-right {
    position: relative;

}

.wrapper {
    width: 1100px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 70px;
    margin: 0 auto;

}

.pointer {
    cursor: pointer;
}

.pointer:hover{
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    transition: box-shadow 0.1s, transform 0.5s;
    width: 150px;
    height: 60px;
    border-radius: 5px;
}


.container-bike {
    margin: 192px auto;
    display: flex;
    height: 494px;
    background: #51CEBC;
    border-radius: 10px;
    width: 1336px;

}

.bike{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

.block-text-bike {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.text-title-bike {
    font-size: 34px;
    width: 557px;
    height: 120px;
}

.description-bike {
    font-size: 22px;
    width: 533px;
    height: 64px;
}

.container-sprig {
    margin-top: 191px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;justify-content: space-between;
    height: 800px;
}

.title-sprig {
    width: 711px;
    height: 80px;
    font-size: 34px;
    position: relative;
    left: 22px;
    bottom: 20px;
}

.btn-sprig {
    width: 163px;
    height: 54px;
    background: #F9C600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #0B2330;
    margin-top: 80px;
    cursor: pointer;
}

.btn-sprig>a{
    color: #0B2330;
}

.btn-sprig:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    transition: box-shadow 0.1s, transform 0.5s;
}

.container-target {
    margin-top: 176px;
    width: 1220px;
    height: 537px;
    background: #BD78F0;
    position: relative;
    right: 32px;
    float: right;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-radius: 10px;
}

.box-target {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.img-target {
    position: relative;

    right: 115px;
}

.title-target {
    width: 485px;
    font-size: 42px;
    position: relative;
    bottom: 30px;
}

.description-target {
    position: relative;
    top: 5px;
    font-size: 17px;
    line-height: 28px;
    width: 550px;
}

.main-content {
    width: 1400px;
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
}

.container-helps {
    height: 410px;
    width: 593px;
    display: flex;
    flex-direction: column;
    position: relative;
    left: 140px;
    margin-bottom: 173px;
}

.title-solutions {
    font-size: 14px;
    color: #6A7981;
    line-height: 24px;
    margin-top: 173px;

}

.descriptions-solutions {
    font-size: 42px;
    line-height: 48px;
    margin-top: 10px;
}

.btn-solutions {
    margin-top: 30px;
    width: 500px;
}

.btn-solutions>a {
    font-size: 22px;
    color: #375361;
}

.btn-solutions>a:hover {
    color: #F9C600;
}

.box-contextual {
    display: flex;
    justify-content: space-between;
    margin-top: 176px;
    width: 1400px;
    height: 500px;
}

.block-contextual {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 300px;
    width: 484px;
    margin-left: 140px;

}

.icon-contextual {
    width: 40px;
    height: 40px;
    background: #BD78F0;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title-contextual {
    font-size: 34px;
    position: relative;
    top: 5px;
}

.description-contextual {
    width: 484px;
    height: 84px;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    position: relative;
    top: 20px;
}

.btn-contextual {
    width: 163px;
    height: 54px;
    border: 1px solid #0B2330;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    top: 60px;
    cursor: pointer;
}

.btn-contextual>a {
    color: #0B2330;
}

.btn-contextual:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    transition: box-shadow 0.1s, transform 0.5s;
}

.box-video {
    display: flex;
    justify-content: space-between;
    margin-top: 176px;
    width: 1400px;
    height: 500px;
    position: relative;
    bottom: 150px;
}

.icon-video {
    width: 40px;
    height: 40px;
    background: #51CEBC;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-concept {
    display: flex;
    justify-content: space-between;
    margin-top: 176px;
    width: 1400px;
    height: 500px;
    position: relative;
    bottom: 250px;

}

.icon-concept {
    width: 40px;
    height: 40px;
    background: #FE9F28;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

}

.icon-speed {
    position: relative;
    left: 4px;
    bottom: 1px;
}

.speed {
    position: relative;
    right: 11px;
    top: 2px;
}

.button-concept {
    display: flex;
    justify-content: space-between;
    width: 500px;
    position: relative;
    top: -370px;

}

.images-contextual {
    position: relative;
    right: 19px;
}

.image20 {
    position: relative;
    right: 32px;
}

.btn-grey {
    background: #E7EAEB;
    padding: 5px;
    position: relative;
    left: 140px;
    color: #0B2330;
    border-radius: 4px;
}

.btn-grey>a {
    color: #61757E;
}

.btn-grey:hover {
    background: #FE9F28;
}

.btn-grey>a:hover {
    color: #0B2330;
}

.box-spring-time {
    width: 1400px;
    height: 960px;
    background: #F2EDE7;
}

.features {
    font-size: 14px;
    color: #375361;
    position: relative;
    right: 552px;
    margin-top: 100px;

}

.title-how_sprig {
    font-size: 60px;
    position: relative;
    right: 95px;
}

.img_darts {
    position: relative;


    display: flex;
    justify-content: center;
    align-items: center;
}

.block-feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box_targeting {
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 170px;
}

.block_target {
    display: flex;
    flex-direction: column;
    width: 580px;
    border-top: 2px solid #C9316F;
    box-sizing: border-box;

}

.block_target label {
    display: block;
}

.title_target {
    font-size: 24px;
    margin-top: 25px;
    letter-spacing: 1px;
    cursor: pointer;
    overflow: hidden;

}

.block_target .text_none {
    width: calc(100% - 10px);
    margin: 0 auto;
    min-height: 50px;
    line-height: 18px;
    box-sizing: border-box;
    transition: .3s;
    overflow: hidden;
    font-size: 17px;
}

.text_none {
    overflow: hidden;
    box-sizing: border-box;

}

input[type="radio"]:checked+ .text_none {
    max-height: 250px;
    transition: .3s, transform .5s;
    position: relative;
    list-style: none;
    top: 5px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: self-start;
}

.radio-input {
    appearance: none;
}

.title_target input:checked + label + .acor-body {
    height: auto;
    margin-top: -5px;
    color: #000;
    padding: 20px 30px 10px;
}

.vector_v {
    float: right;
    cursor: pointer;
}

.description_target {
    font-size: 17px;
    line-height: 28px;
    color: #375361;
    margin-top: 20px;

}

.subscribe_target {
    margin-top: 30px;
    font-size: 17px;
    line-height: 28px;
    color: #375361;
}

.btn-more>a {
    font-size: 16px;
    color: #0B2330;
}

.btn-more>a:hover {
    color: #F9C600;
}

.btn-more {
    margin-top: 20px;
}

.btn-more>img {
    margin-left: 20px;
    cursor: pointer;
}

.gray_line {
    height: 1px;
    background: #C3CACD;
    margin-top: 20px;
}

.ai_analisys {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 24px;
}

.text_none {
    display: none;
}

.templates {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    color: #0B2330;
    cursor: pointer;
}

.ai_analisys>a {
    color: #0B2330;
}

.templates>a {
    color: #0B2330;
}

.ai_analisys>img {
    cursor: pointer;
}

.templates>img {
    cursor: pointer;
}

.ai_analisys>a:hover {
    color: #F9C600;
}

.templates>a:hover {
    color: #F9C600;
}

.block_integration {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    height: 400px;
    position: relative;
    left: 148px;
}

.box_integration {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 818px;
}

.title_integration {
    font-size: 14px;
    color: #375361;
}

.descriptiont_integrations {
    font-size: 34px;
    width: 669px;
    line-height: 40px;
}

.subscribe_integrations {
    width: 667px;
    font-size: 17px;
    color: #375361;
    line-height: 28px;
}

.btn_integrations {
    width: 208px;
    height: 54px;
    background: #F9C600;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    cursor: pointer;
}

.btn_integrations>a {
    color: #0B2330;
}

.btn_integrations:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    transition: box-shadow 0.1s, transform 0.5s;
}

.box_case-study {
    display: flex;
    width: 1400px;
}

.block_case-study {
    width: 606px;
    height: 584px;
    background: #F2EDE7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.block_tar_get {
    width: 325px;
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    bottom: 50px;
}

.title_case {
    font-size: 14px;
    color: #375361;
    Letter-spacing: 1.4px;
}

.title_trusted {
    font-size: 24px;
    color: #0B2330;
    line-height: 32px;
}

.title_product {
    font-size: 17px;
    color: #0B2330;
    line-height: 28px;

}

.btn_read-more {
    width: 140px;
    height: 54px;
    border: 1px solid #0B2330;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: relative;
    top: 16px;
    cursor: pointer;
}

.btn_read-more>a {
    color: #0B2330;
}

.btn_read-more:hover {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 1),
    -23px 0 20px -23px rgba(0, 0, 0, .8),
    23px 0 20px -23px rgba(0, 0, 0, .8),
    0 0 40px rgba(0, 0, 0, .1) inset;
    transition: box-shadow 0.1s, transform 0.5s;
}

.block_yellow-hero {
    width: 794px;
    height: 584px;
    background: #F9C600;
    margin-bottom: 46px;

}

.vect-yellow {
    z-index: 9999;
    position: relative;
}

.title_yellow-sprig {
    width: 550px;
    height: 240px;
    font-size: 34px;
    position: relative;
    bottom: 150px;
    left: 116px;

}

.block_hero {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    grid-column-gap: 24px;
    position: relative;
    right: 80px;
    bottom: 60px;
}

.footer {
    width: 1400px;
    height: 1000px;
    background: #0B2330;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;

}

.box_footer {
    height: 420px;
    padding-top: 43px;
}

.title_footer {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    grid-column-gap: 30px;
    height: 280px;

}

.text_block_launch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}

.block_text_web {
    font-size: 17px;
    width: 642px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    line-height: 28px;
}

.btn_footer {
    width: 163px;
    height: 54px;
    background: #F9C600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    color: #0B2330;
    cursor: pointer;
}

.btn_footer>a {
    color: #0B2330;
}


.btn_footer:hover {
    box-shadow: 0 1px 20px rgba(249, 198, 0),
    -23px 0 20px -23px rgba(249, 198, 0),
    23px 0 20px -23px rgb(249, 198, 0),
    0 0 40px rgba(249, 198, 0) inset;
    transition: box-shadow 0.1s, transform 0.5s;
}

.link_grey_footer {
    width: 1375px;
    height: 1px;
    background: #375361;
    margin: 95px auto;
}

.sprig_footer {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 32px;
}

.logo_sprig_footer {
    cursor: pointer;
}

.footer_product {
    display: flex;
    flex-direction: column;
    grid-gap: 13px;
    position: relative;
    left: 10px;
}

.product1 {
    font-size: 16px;
    line-height: 24px;
}

.product1>a {
    color: #94A0A4;
}

.product1>a:hover {
    color: #F9C600;
}

.footer_social {
    display: flex;
    justify-content: space-between;
    width: 980px;
    margin-left: 255px;
    margin-top: 69px;
}

.copyright {
    color: #94A0A4;
}

.social_icon {
    display: flex;
    grid-column-gap: 24px;
    cursor: pointer;
}

.shadow:hover {
    box-shadow: 0 0 15px 5px rgb(249, 198, 0);
    transition: box-shadow 0.1s, transform 0.5s;
    border-radius: 50%;
}









